<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <queries>
        <intent><action android:name="android.support.customtabs.action.CustomTabsService" /></intent>
    </queries>
    <application
        android:label="ZRemote"
        android:name=".AndroidAppMain"
        android:supportsRtl="true"
        android:allowBackup="false"
        android:usesCleartextTraffic="false"
        android:icon="@drawable/app_icon">
        <provider
            android:name=".AttachmentFileProvider"
            android:authorities="${applicationId}.attachments"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/attachment_paths" />
        </provider>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mnc|colorMode|density|fontScale|fontWeightAdjustment|keyboard|layoutDirection|locale|mcc|navigation|smallestScreenSize|touchscreen|uiMode"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- SkipAuthenticationServices probes zeron://auth when selecting
                     its Custom Tabs fallback. The coordinator validates the real
                     callback endpoint and state before exchanging a code. -->
                <data android:scheme="zeron" />
            </intent-filter>
        </activity>
    </application>
</manifest>
